.join-to-event-span {
	color: #4e9d4e;
	cursor:pointer;
	font-size: 20px;
	padding: 0px 6px 0px 6px;
	vertical-align: middle;
}

.events-table tr td {
	vertical-align: middle!important;
}

.edit-event-button {
	margin-left: 10px;
}