.header {

}

.header_inner {
	margin: 36px 0px;
	text-align: center;
}

.logo-image {
	width: 80px;
	height: 113px;
	vertical-align: middle;
}

.header_company-logo {
	font-family: 'Evolventa-Regular';
	color: #ff7932;
	font-size: 68px;
	line-height: 100px;
	margin-top: -20px;
    display: block;
}

.company-text {
	font-size: 26px;
	font-family: Arial, Sans-serif;
	color: #ff7932;
	max-width: 370px;
	margin-bottom: 10px;
	display: inline-block;
}

@media only screen and (max-width: 480px) {
	.header_company-logo {
		font-size: 52px;
	}
}

