.dropdown__content {
  z-index: 100;
  display: none;
  position: absolute;
  min-width: 260px;
  right: 0px;
}

.dropdown--active .dropdown__content {
  display: block;
}

.account-dropdown__avatar {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  border-radius: 3px;
}

.account-dropdown .dropdown__trigger {
  line-height: 20px;
}

.account-dropdown__avatar,
.account-dropdown__name {
  vertical-align: middle;
}

.account-dropdown {
  cursor: pointer;
}

.account-dropdown .dropdown__content {
  margin-top: 5px;
  border-top: rgba(0, 0, 0, 0.05) 1px solid;
  background: #ffffff;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.account-dropdown__quick-links,
.account-dropdown__management-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.account-dropdown__segment {
  padding: 10px 15px;
  border-bottom: #e1e1e1 1px solid;
}

.account-dropdown__quick-links {
  padding: 0px;
}

.account-dropdown__link {
  padding: 10px 15px;
}

.account-dropdown__link:hover {
  background-color: #f0f0f0;
}

.dashboard-email {
    padding: 5px;
    font-size: 16px;
}

.entry-money-btn {
    margin: 6px 0px;
}

.entry-text {
    padding: 0px 5px;
}