body{
    background-color: white;
}
.separate{
    width: 15%;
    margin: 30px auto 30px auto;
    border: 1px solid #FBE9E7;
}

.main-content{
    padding: 0 10px;
}

.navbar-custom{
    background-color: white;
    border-color: white;
    background-image: none;
    box-shadow: none;

}

.clear-sans{
    font-family: 'ClearSansRegular';
}

.main-container{
    background-color: white;
    min-height: 100%;
    max-width: 1200px;
}
.main-header {
    padding: 25px 15px 10px 15px;
    /*margin-bottom: 15px;*/
}

.main-header-logo{
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
}
.main-nav ul li{
    margin-left: 18px;
}

.main-nav-a{
    font-family: 'ClearSansRegular';
    color:black!important;
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    text-align: center;
}

.main-nav-a:hover{
    text-decoration: none;
    background-color: white!important;
    color:#FF6F00!important;
}

.main-header-nav{
    padding-top: 0px;
}

.main-nav-logo{
    text-align: center;
    height: 48px;
}

.active{
    color:#FF5722!important;
}

.main-nav-logo:hover{

}

.content-carousel-img{
    max-width: 1200px;
    max-height: 600px;
}

#carousel{
    margin-bottom: 20px;
    height: 600px;
}

.carousel-control{
    opacity: 0.1!important;
}
.carousel-control:hover{
    opacity: 0.1!important;
}
.motivation-text{
    margin-bottom: 30px;
    padding: 0 15px;
}

.motivation-text-head{
    font-family: 'ClearSansMedium';
    font-size: 20px;
    font-style:normal;
    font-weight: 600;
    padding: 20px;
}
.motivation-text-base{
    font-family: 'ClearSansRegular';
    font-size: 18px;
    font-style:normal;
    font-weight: 500;
    text-indent: 20px;
}

.post-scriptum-text{
    font-family: 'ClearSansRegular';
    color:#E57373;
}

.about-text{
    /*margin-bottom: 30px;*/
}
.about-text-head{
    text-align: center;
    font-family: 'ClearSansRegular';
    font-size: 20px;
}

.about-text-footer{
    font-family: 'ClearSansRegular';
    font-size: 16px;
}

.about-text div{
    padding: 5px;
}

.footer-social{
    text-align: center;
    margin-bottom: 10px;
}

.footer-social a{
    display: inline;
}

.footer-social img{
    width: 32px;
    height: 32px;
}
.footer-social-vk{
    margin-right: 10px;
}
.footer-social-insta{
    margin-left: 10px;
}
.footer-social-text{
    font-family: 'ClearSansRegular';
    margin-bottom: 5px;
}

.footer-information {
    font-family: 'ClearSansRegular';
    text-align: center;
}

.about-description{
    margin-top: 40px;
}

.about-description-img{
    width: 100%
}

.about-description-text{
    text-align: justify;
    padding: 0 10px;
    font-size: 15px;
}

.news{
    height: 100%
    width: 1100px;
    align-items: center;
}

.news-single{
    background-image: linear-gradient(to bottom,#FFFFFF 0,#F8F8F7 100%)!important;
}

.news-img{
    height: 320px;
    width: 320px;
}

.about-trainer-img{
    height: 320px;
}

.about-trainer-text-head{
    font-family: 'ClearSansRegular';
    margin-top: 0;
}

.thumb img {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0);
    border-radius:5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding:5px;
}
.thumb img:hover {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1);
}
.thumb {
    padding:5px;
}

.table-justify{
    font-family: 'ClearSansRegular';
    font-size: 18px;
}

.table-justify-tr-info{
    text-align: center;
}
