.dashboard-wrapper {
    min-width: 280px!important;
}

.content {
	height: 100%;
}

.container-fluid {
	height: 100%;
	background: #f6f5fa;
	position: relative;
}

.display-table {
	display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}

.display-table-row {
    display: table-row;
    height: 100%;
}

.display-table-cell {
	display: table-cell;
    float: none;
    height: 100%;
} 

/*@media screen and (-webkit-min-device-pixel-ratio:0) { 
     Safari 5+ ONLY 
    ::i-block-chrome, .display-table-cell {
        float: left;
    }
}*/

.v-align {
	vertical-align: top;
}

.hidden-xs {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.pageContentBox {
    padding: 20px 20px;
}

.default-link-style, .default-link-style:hover, .default-link-style:visited {
  color: inherit; 
  text-decoration: inherit;
}

.dashboard-item {
    min-height: 200px;
    background: white;
    padding: 20px;
    font-size: 20px;
    margin: 8px 0px;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #eeeeee;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s;
    overflow: hidden;
    text-align: center;
}

.dashboard-item a, .dashboard-item a:hover {
    text-decoration: none;
}

.dashboard-item i {
    display: inline-block;
    margin: 10px;
    display: block;
    position: relative;
    font-size: 115px;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .dashboard-item i {
        font-size: 100px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .dashboard-item i {
        font-size: 90px;
        margin-bottom: 20px;
    }
}

.dashboard-item:hover {
    opacity: 1;
    background: #fbfeff;
}