.profile-box {
	padding-top: 20px;
	text-align: center;
}

.profile-box h2 {
	font-size: 26px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 16px;
}

.profile-wrapper {
	background: white;
    margin: 5px;
    padding: 14px;
    border: 1px solid #e7e7e7;
    border-bottom: 2px solid #eeeeee;
}

.profile-edit-btn {
	padding: 5px;
	margin: 0px 8px;
}

.profile-edit-btn-text {
	padding: 5px;
	display: none;
}

.profile-edit-link i {
	padding: 0px 5px;
}

.profile-img {
	margin: 0 auto;
	margin-bottom: 12px;
}

.user-photo-box {
	text-align: center;
}

.edit-user-profile-bnt {
	margin-top: 26px;
}

@media (min-width: 768px) {
    .profile-box {
        text-align: left;
    }
}

@media (max-width: 768px) {
	.table-user-info {
		text-align: left;
	}
	.table-user-info tr td:first-child {
		width: 40px;
	}
}

@media (max-width: 560px) {
	.profile-edit-btn {
		margin-top: 10px;
	}
	.profile-edit-btn-text {
		display: inline;
	}	
}

.table-user-info tr td:first-child {
	font-weight: bold;
}

.table-user-info i {
	padding: 5px;
}